<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yss.mapper.InquiryMapper">

	<!-- 문의글 등록 -->
	<insert id="insertInquiry" parameterType="com.yss.dto.InquiryDTO">
		INSERT INTO inquiry(inquiryId, memberId, inquiryType, title, content, status, createdAt)
		VALUES (inquiry_SEQ.NEXTVAL, #{memberId}, #{inquiryType}, #{title}, #{content}, '대기중', SYSDATE)
	</insert>
	
	<!-- 전체 문의글 개수 -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM inquiry q
		JOIN MEMBERDETAIL m ON q.memberId = m.memberId
		WHERE q.memberId = #{memberId}
	</select>
	
	<!-- 문의글 목록 -->
	<select id="listInquiry" parameterType="map" resultType="com.yss.dto.InquiryDTO">
		SELECT inquiryId, q.memberId, name, inquiryType, title, status,
		       TO_CHAR(createdAt, 'YYYY-MM-DD') AS createdAt
		FROM inquiry q
		JOIN MEMBERDETAIL m ON q.memberId = m.memberId
		WHERE q.memberId = #{memberId}
		ORDER BY q.inquiryId DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<!-- 내 작성 글보기 -->
	<select id="findById" parameterType="Long" resultType="com.yss.dto.InquiryDTO">
		SELECT q.inquiryId, q.memberId, m.name, q.inquiryType, q.title, q.content, q.status,
			TO_CHAR(q.createdAt, 'YYYY-MM-DD HH24:MI:SS') AS createdAt
		FROM inquiry q
		JOIN MEMBERDETAIL m ON q.memberId = m.memberId
		WHERE q.inquiryId = #{inquiryId}
	</select>
	
	<!-- 내 작성 이전글 -->
	<select id="findByPrev" parameterType="map" resultType="com.yss.dto.InquiryDTO">
	    SELECT q.inquiryId, q.title
	    FROM inquiry q
	    JOIN MEMBERDETAIL m ON q.memberId = m.memberId
	    <where>
	        q.memberId = #{memberId}
	        AND (q.inquiryId &gt; #{inquiryId})
	    </where>
	    ORDER BY q.inquiryId ASC
	    FETCH FIRST 1 ROWS ONLY
	</select>
	
	<!-- 내 작성 다음글 -->
	<select id="findByNext" parameterType="map" resultType="com.yss.dto.InquiryDTO">
    SELECT q.inquiryId, q.title
    FROM inquiry q
    JOIN MEMBERDETAIL m ON q.memberId = m.memberId
    <where>
        q.memberId = #{memberId}
        AND (q.inquiryId &lt; #{inquiryId})
    </where>
    ORDER BY q.inquiryId DESC
    FETCH FIRST 1 ROWS ONLY
    
</select>

    <!-- 수정 -->
    <update id="updateInquiry" parameterType="com.yss.dto.InquiryDTO">
    	UPDATE inquiry SET inquiryType = #{inquiryType}, title = #{title}, content = #{content}
    	WHERE inquiryId = #{inquiryId} AND memberId = #{memberId}
    </update>
    
    <!-- 삭제 -->
    <delete id="deleteInquiry" parameterType="map">
	 	DELETE FROM inquiry
	 	<where>
	  		<choose>
				 <when test="userLevel >= 51">
	 				inquiryId = #{inquiryId}
	 			 </when>
	 			 <otherwise>
	 				inquiryId = #{inquiryId} AND memberId = #{memberId}
	 			 </otherwise>
	 		</choose>
	 	</where>
	</delete>
    

</mapper>