<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yss.mapper.ProductManageMapper">

	<sql id="where-list">
		<choose>
			<when test="schType == 'all'">
				UPPER(prodName) LIKE '%' || UPPER(#{kwd}) || '%'
					OR UPPER(brand)  LIKE '%' || UPPER(#{kwd}) || '%'
					OR UPPER(ctgName) LIKE '%' || UPPER(#{kwd}) || '%'
					OR TO_CHAR(inboundPrice)  LIKE '%' || #{kwd} || '%'
					OR TO_CHAR(price) LIKE '%' || #{kwd} || '%'
					OR TO_CHAR(heelHeight) LIKE '%' || #{kwd} || '%'
			</when>
			<when test="schType == 'prodName'">
				prodName LIKE '%' || UPPER(#{kwd}) || '%'
			</when>
			<when test="schType == 'brand'">
				brand LIKE '%' || UPPER(#{kwd})		 || '%'
			</when>
			<when test="schType == 'ctgName'">
				UPPER(ctgName)  LIKE '%' || #{kwd} || '%'
			</when>
			<when test="schType == 'inboundPrice'">
				TO_CHAR(inboundPrice) LIKE '%' || #{kwd} || '%'
			</when>
			<when test="schType == 'price'">
				TO_CHAR(price) LIKE '%' || #{kwd} || '%'
			</when>
			<when test="schType == 'heelHeight'">
				TO_CHAR(heelHeight) LIKE '%' || #{kwd} || '%'
			</when>
		</choose>
	</sql>



	<select id="listProductManage" parameterType="map" resultType="com.yss.dto.ProductDTO">
		SELECT productId, prodName, brand, c.categoryId, inboundPrice, price, heelHeight, discRate, 
			minGrade, status, TO_CHAR(regDate, 'YYYY-MM-DD') regDate , c.ctgName , thumbnail
		FROM product p
		LEFT OUTER JOIN category c ON p.categoryId = c.categoryId
		<where>
			<if test="kwd != null and kwd != ''">
				<include refid="where-list"/>
			</if>
			<if test="dateFrom != null and dateFrom != ''">
				AND regDate <![CDATA[>=]]> TO_DATE(#{dateFrom}, 'YYYY-MM-DD')
			</if>
			<if test="dateTo != null and dateTo != ''">
				AND regDate <![CDATA[<]]> TO_DATE(#{dateTo}, 'YYYY-MM-DD') + 1
			</if>
			<if test="minGrade != null and minGrade != ''">
				AND minGrade <![CDATA[>=]]> #{minGrade}
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
		</where>
		ORDER BY productId DESC
		OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
	</select>
	
	<select id="countProductManage" parameterType="map" resultType="int" >
		SELECT COUNT(*)
		FROM product p
		LEFT OUTER JOIN category c ON p.categoryId = c.categoryId
		<where>
			<if test="kwd != null and kwd != '' ">
				<include refid="where-list"/>
			</if>
			<if test="dateFrom != null and dateFrom != '' ">
				AND regDate <![CDATA[>=]]> TO_DATE(#{dateFrom}, 'YYYY-MM-DD')
			</if>
			<if test="dateTo != null and dateTo != '' ">
				AND regDate <![CDATA[<]]> TO_DATE(#{dateTo}, 'YYYY-MM-DD') + 1
			</if>
			<if test="minGrade != null and minGrade != '' ">
				AND minGrade <![CDATA[>=]]> #{minGrade}
			</if>
			<if test="status != null and status != '' ">
				AND status = #{status}
			</if>
		</where>
	</select>
	
	<select id="listParentCategory" resultType="com.yss.dto.ProductDTO">
	    SELECT categoryId, parentId, ctgName, depth
   		FROM category
   		WHERE depth = 1
   		ORDER BY categoryId
	</select>
	
	<select id="listChildCategory" parameterType="Long" resultType="com.yss.dto.ProductDTO">
		SELECT categoryId, parentId, ctgName, depth
   		FROM category
   		WHERE depth = 2
   		ORDER BY categoryId
	</select>
	
	<select id="findById" parameterType="long" resultType="com.yss.dto.ProductDTO">
		SELECT productId, prodName, price, thumbnail
		FROM product
		WHERE productId = #{productId}
	</select>

	
	<insert id="insertProduct" parameterType="com.yss.dto.ProductDTO">
		<selectKey keyProperty="productId" resultType="long" order="BEFORE">
			SELECT product_seq.NEXTVAL
			FROM dual
		</selectKey>
			INSERT INTO product(productId, prodName, brand, categoryId, inboundPrice, price, heelHeight, discRate, minGrade, status, regDate , thumbnail)
			VALUES (#{productId}, #{prodName}, #{brand}, #{categoryId}, #{inboundPrice}, #{price}, #{heelHeight}, #{discRate}, #{minGrade}, #{status}, SYSDATE, #{thumbnail, jdbcType=VARCHAR})
	</insert>
	
	<insert id="insertProductImage" parameterType="com.yss.dto.ProductDTO">
		INSERT INTO productImage(imageId, productId, files, sortOrder)
		VALUES (PRODUCT_IMAGE_SEQ.NEXTVAL, #{productId}, #{files}, #{sortOrder})
	</insert>
	
	<insert id="insertProductOption"></insert>

</mapper>