<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yss.mapper.ProductDetailMapper">
	<select id="selectProductDetail" parameterType="Long" resultType="com.yss.dto.ProductDTO">
		SELECT p.productId, p.categoryId, p.prodName, p.price, p.discRate,
		       p.thumbnail, p.brand
		FROM product p
		WHERE p.productId = #{productId}
	</select>
	
	<select id="selectProductOption" parameterType="Long" resultType="com.yss.dto.ProductDTO">
		WITH LatestStock AS (
		    SELECT 
		        optionId,
		        changedStock,
		        changeDate,
		        ROW_NUMBER() OVER (PARTITION BY optionId ORDER BY changeDate DESC, logId DESC) AS RN
		    FROM 
		        stockLog
		)
		SELECT 
		    po.productId,
		    po.optionId,
		    po.prodSize,
		    po.color,
		    po.addPrice,
		    NVL(ls.changedStock, 0) AS changedStock
		FROM 
		    productOption po
		LEFT JOIN 
		    LatestStock ls ON po.optionId = ls.optionId AND ls.RN = 1
		WHERE 
		    po.productId = #{productId}
		
	</select>
	<select id="selectProductImage" parameterType="Long" resultType="com.yss.dto.ProductDTO">
		SELECT p.productId,
		       pi.imageId, pi.files, pi.sortOrder
		FROM product p
		INNER JOIN productImage pi ON p.productId = pi.productId
		WHERE p.productId = #{productId}
	</select>
	<select id="productRecommend">
		
	</select>
	<select id="selectWishlist" parameterType="Long" resultType="int">
		SELECT count(*)
		FROM product p
		INNER JOIN wishlist w ON p.productId = w.productId
		WHERE p.productId = #{productId} 
	</select>
	<update id="updateWishlist" parameterType="map" >
		INSERT INTO wishlist (wishlistId, createdAt, memberId, productId)
			   VALUES(wishlistSeq_NEXTVAL, SYSDATE, #{memberId}, #{productId})
	</update>
	<delete id="deleteWishlist" parameterType="map" >
		DELETE FROM wishlist 
		WHERE memberId = #{memberId} AND productId = #{productId}
	</delete>
	<!-- 
	
	 -->
</mapper>

<!-- 
CREATE TABLE product (
	productId	NUMBER	 	NOT NULL,
	categoryId	NUMBER		NULL,
	name	VARCHAR2(100)		NOT NULL,
	price	NUMBER(10)		NOT NULL,
	discRate	NUMBER(2)		NULL,
	thumbnail	VARCHAR2(1000)		NULL,
	brand	VARCHAR2(100)		NULL,
	heelHeight	NUMBER		NULL,
	status	VARCHAR2(100)		NOT NULL
);

CREATE TABLE productOption (
	optionId	NUMBER	 	NOT NULL,
	productId	NUMBER		NOT NULL,
	prodSize	NUMBER		NOT NULL,
	color	VARCHAR2(100)		NOT NULL,
	addPrice	NUMBER		NULL
);

CREATE TABLE productImage (
	imageId	NUMBER	NOT NULL,
	productId	NUMBER		NOT NULL,
	files	VARCHAR2(1000)		NOT NULL,
	sortOrder	NUMBER		NOT NULL
);
 -->